/* GLOBAL */
:root {
  --nostalgia: #8086AE;
  --forest: #155C4D;
  --amber: #C0683A;
  --moss: #ADB481;
  --green: #247448; 
  --ivory: #ECE9E0;
  --mustard: #CF811D;
  --avg-pad: 0.5rem 0.75rem;
  --block-pad: 1.5rem;
  --text-color: white;
  --grotesk: 'Space Grotesk', sans-serif;
  --monospace: 'Space Mono', monospace;
  --nav-height: 50px;
  --screen-height: calc(100vh);
}

.moss { background-color: var(--moss); color: white;}
.amber { background-color: var(--amber); color: white;}
.ivory { background-color: var(--ivory)}
.forest { background-color: var(--forest); color: white;}
.green { background-color: var(--green); color: white;}
.nostalgia { background-color: var(--nostalgia); color: white;}
.mustard { background-color: var(--mustard);}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  line-height: 1.25;
}

*, ::after, ::before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::selection { background-color: black; color: white;}

ul {
  list-style-type: none;
}

h1, h2, p {
  font-family: var(--grotesk);
}

h3, h4, h6 {
  font-family: var(--monospace);
  font-style: italic;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 0.75rem;
}

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

h3.uppercase {
  font-family: var(--grotesk);
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

h4 {
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 0.75rem;
}

h6 {
  font-size: 0.85rem;
  font-weight: 400;
}

h6.uppercase {
  font-style: normal;
  text-transform: uppercase;
  padding-bottom: 0.75rem;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
}

p.large {
  font-size: 1.6rem;
}

a {
  color: var(--amber);
}

a:hover {
  color: var(--moss);
}

/* NAV */

nav, .menu {
  display: flex;
  height: var(--nav-height);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

nav {
  background-color: var(--green);
}

.headroom {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  will-change: transform;
  transition: transform 200ms linear;
}

nav.headroom--pinned {
  transform: translateY(0%);
}

nav.headroom--unpinned {
  transform: translateY(-100%);
}

nav .title img {
  max-height: 100%;
  width: 25rem;
}

.menu {
  width: var(--nav-height);
  background: var(--ivory);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 102  ;
}

.menu img {
  width: 35px;
  position: absolute;
}

.menu .eye.wide, .menu.open .eye.closed {
  opacity: 1;
}

.menu .eye, .menu.open .eye.wide {
  opacity: 0;
}

.menu:hover .eye.half { opacity: 1 }
.menu:hover .eye.wide, .menu:hover .eye.closed  { opacity: 0 }



nav a {
  color: black;
  font-family: var(--monospace);
  text-transform: uppercase;
  padding-right: 1.5rem;
}

nav a:hover {
  color: var(--moss);
}

.drawer {
  --text-color: var(--amber);
  --width: 50vw;
  z-index: 99;
  position: fixed;
  box-sizing: border-box;
  padding-top: var(--nav-height);
  height: 100vh;
  width: var(--width);
  top: 0;
  right: calc(0px - var(--width));
  display: flex;
  flex-flow: column;
  will-change: transform;
  transition: transform 200ms linear;
}

.drawer.open {
  transform: translateX(calc(0px - var(--width)));
}

.drawer ul {
  padding: 2rem;
}
.drawer li:first-of-type {
  border-top: 2px solid var(--text-color);
}
.drawer li {
  font-family: var(--grotesk);
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  border-bottom: 2px solid var(--text-color);
  padding: var(--avg-pad);
}

.drawer li a {
  color: var(--text-color);
  display: flex;
}
.drawer li:hover {
  --text-color: var(--moss);
}

footer {
  background-color: var(--amber);
  height: 7rem;
  font-family: var(--monospace);
  text-transform: uppercase;
  padding: var(--block-pad);
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
}

footer li {
  padding-right: 0.75rem;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
  padding-bottom: 0.35rem;
  border-bottom: 2px solid white;
}

.footer-logo {
  width: 170px;
  transform: translate(10px, -20px);
}

/* LAYOUT */

section {
  box-sizing: border-box;
}

section.split {
  min-height: 80vh;
  max-height: var(--screen-height);
  height: auto;
}

section.split {
  display: flex;
  padding-top: var(--block-pad);
}

section.split.flush {
  padding-top: 0;
}

section.split > div {
  width: 50%;
  box-sizing: border-box;
}

section .content {
  padding: 2rem;
}

section.split.divider > div:first-of-type {
  border-right: 1.5px solid black;
}

section.split.divider > div:last-of-type {
  padding-left: var(--block-pad);
}

section.padded {
  padding: var(--block-pad);
}

.error section {
  height: var(--screen-height);
  padding: var(--nav-height) var(--block-pad) 0;
}

.error section h1 {
  padding-top: var(--block-pad);
}

/* PRESS */

.press ul a, .press ul h3 {
  color: var(--text-color);
}

.press ul li:hover {
  --text-color: var(--forest);
}

.press h6, .press h2 {
  padding-bottom: 0.35rem;
}

.press li {
  border-bottom: 2px solid var(--text-color);
  padding: 0.75rem 0 0rem;
  display: grid;
  grid-template-columns: 20% 80%;
}

.press img {
  width: inherit;
}


/* PIXELLATION */

/* .image figure {
  position: relative;
}
.pixel {
  position: absolute;
} */

/* IMAGES, HOVER EFFECT AND STICKY */

section figure, section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section figure {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sticky {
  position: sticky;
  top: var(--nav-height);
}


figure.collage {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure.collage img {
  width: 70%;
  height: auto;
}

