/* GLOBAL */
:root {
  --nostalgia: #8086AE;
  --forest: #155C4D;
  --amber: #C2764E;
  --moss: #ADB481;
  --green: #33835E; 
  --ivory: #ECE9E0;
  --avg-pad: 0.5rem 0.75rem;
  --block-pad: 1.5rem;
  --text-color: white;
}

.moss { background-color: var(--moss); color: white;}
.amber { background-color: var(--amber); color: white;}
.ivory { background-color: var(--ivory)}
.forest { background-color: var(--forest); color: white;}
.green { background-color: var(--green); color: white;}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  line-height: 1.25;
}

*, ::after, ::before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

h1, h2, p {
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 0.75rem;
}

h6 {
  font-family: 'Space Mono', monospace;
  font-size: 0.85rem;
  font-style: italic; 
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

p.large {
  font-size: 1.7rem;
}

/* NAV */

nav div {
  display: flex;
}
nav .title {
  justify-content: center;
  align-items: center;
}
nav .title img {
  width: 375px;
  padding-top: 2px;
}

nav .nav {
  padding: var(--avg-pad);
}

nav a {
  color: black;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  padding-right: 1.5rem;
}

nav a:hover {
  color: var(--moss);
}

footer {
  background-color: var(--amber);
  height: 10rem;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  padding: var(--block-pad);
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
}

footer li {
  padding-right: 0.75rem;
}

footer a {
  color: white;
}

.footer-logo {
  width: 170px;
  transform: translateY(-40px);
}

/* LAYOUT */

section {
  min-height: 70vh;
  max-height: 85vh;
  height: auto;
}

section.split {
  display: flex;
  padding-top: var(--block-pad);
}

section.split.flush {
  padding-top: 0;
}

section.split > div {
  width: 50%;
  box-sizing: border-box;
}

section .content {
  padding: 2rem;
}

section figure, section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.split.divider div:first-of-type {
  border-right: 2px solid var(--forest);
}

section.split.divider div:last-of-type {
  padding-left: var(--block-pad);
}

/* PRESS */

.press ul a {
  color: var(--text-color);
}

.press li {
  border-bottom: 2px solid var(--text-color);
  padding: 1rem 0 0.25rem;
}

.press img {
  width: inherit;
}




