/* TABLET DOWN */
@media screen and (max-width: 900px) {
  /* NAV */
  nav {
    justify-content: left;
  }

  nav .title {
    padding-left: 0.5rem;
  }
  nav .title img {
    max-width: 80vw;
  }

  .drawer {
    --width: 100%;
  }

  footer ul {
    flex-flow: column;
  }

  footer a {
    padding-bottom: 0;
  }

  section.split {
    flex-flow: column;
    max-height: 100%;
    min-height: var(--screen-height);
  }

  section.split > div {
    width: 100%;
  }

  section.divider.split {
    height: 100%;
    padding: var(--block-pad) 0; 
  }

  section.split.divider > div:first-of-type {
    border: none;
  }

  section.split.divider > div:last-of-type {
    padding-right: var(--block-pad);
  }

  .home section.split.divider, section.m-reverse {
    flex-flow: column-reverse;
  }

  figure.collage {
    height: 70vh;
    padding: 3rem 0;
  }

  figure.collage img {
    width: 50%;
  }

  section, section.banner.split {
    height: auto;
  }

  section.split.divider .content {
    padding: var(--block-pad);
    padding-bottom: var(--block-pad);
    position: unset;
  }
  .sticky {
    position: unset;
  }

  .statement {
    min-height: 70vh;
  }

  .cocreation section.split {
    min-height: auto;
  }

  .cocreation h4 {
    margin-left: 0;
  }

  .cocreation .forest {
    padding-bottom: 2.5rem;
  }

  .principles ul, .principles ol {
    font-size: 1.6rem;
  }

  .principles ol li, .principles ul li {
    padding-left
    : 0;
  }
  .inline-arrow {
    display: none;
  }

  .color-blocks {
    padding-top: 0rem;
  }

  .cocreation figure.tatreez-bg img {
    width: 100%;
  }

  .events ul li {
    width: 100%;
  }
}

/* MOBILE DOWN */
@media screen and (max-width: 700px) {

  /* LAYOUT */
  :root {
    --block-pad: 1rem;
  }

  figure.collage img, .cocreation figure.collage img  {
    width: 70%;
    padding: 0;
  }

  .m-hide {
    display: none;
  }

  section .content {
    padding: 1.5rem var(--block-pad);
  }
  

  /* PAGE STYLES */

  .centered-logo {
    width: 80vw;
  }

  .banner .banner-img {
    object-position: 80%;
  }

  .press li {
    display: flex;
    flex-flow: column;
  }

  .press, .contact {
    height: auto;
    min-height: 75vh;
  }

  .home section h1 {
    padding-top: 0.5rem;
  }

  section.project  {
    padding: 2rem var(--block-pad);
  }

  .project p.large {
    font-size: 1.6rem;
    padding-right: 0;
  }

  section.project figure {
    width: 100%;
  }

  .cocreation section img {
    width: auto;
  }

  .cocreation figure, .about figure, .studio figure {
    min-height: 75vh;
    height: 80vh;
  }

  .events ul li {
    flex-flow: column;
    width: 100vw;
    min-width: 100%;
  }

  .events li .copy {
    width: 100%;
  }

  .events li .image {
    width: 100%;
    max-width: 100%;
  }

  .events ul li:last-of-type {
    border-bottom: none;
  }
  
  .events li img {
    padding-bottom: 0;
  }

  .studio .notice {
    width: auto;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .studio-event section {
    padding-top: calc(var(--nav-height));
  }

  .studio-event section .image figure {
    width: 100%;
  }

  .team {
    padding: var(--block-pad);
  }

  .team ul li {
    flex-flow: column;
  }

  .team h4, .team .bio {
    width: 100%;
  }

  .drawer ul {
    padding: var(--block-pad);
  }

  #mc_embed_signup input:not(.button) {
    width: 100%;
  }
  #mc_embed_signup input.button {
    padding-top: 1rem;
    padding-left:0;
  }

  
}