
section {
  padding: 2rem;
  padding-top: calc(2rem + var(--nav-height)) !important;
  position: relative;
  height: var(--screen-height);
}

section.split .content {
  padding-top: 0.5rem;
}

body {
  background-color: var(--ivory);
}

.main {
  background: center / 100% no-repeat url("/assets/icons/pixels_5.svg");
}

h1 {
  margin: 1rem 0 0;
  padding-bottom: 1rem;
}

p.large {
  font-size: 2rem;
}

section .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .image figure {
  width: 80%;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .main {
    background: right / 1200px no-repeat url("/assets/icons/pixels_5.svg");
  }
}
