.about section.split {
 max-height: none;
 height: auto;
}

.main {
  margin-top: var(--nav-height);
}

.about .content {
  padding-top: 1rem;
  padding-right: 8rem;
}

.about figure {
  height: calc(var(--screen-height) - var(--nav-height) - var(--block-pad) - var(--block-pad));
}

h1 {
  padding-bottom: 1rem;
}

h4 {
  padding-top: 2rem;
}

.image.left {
  padding-right: var(--block-pad);
}

.team {
  padding: 3rem 2rem;
}

.team h1 {
  padding-top: 1rem;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  border-top: 2px solid var(--amber);
  border-bottom: 2px solid var(--amber);
}

.team h4, .team .bio {
  padding-top: 1rem;
  width: 50%;
}

.team ul li {
  display: flex;
  border-bottom: 2px solid var(--amber);
}

.team p {
  padding-bottom: 1rem;
}

.about .sticky {
  top: calc(var(--nav-height) + var(--block-pad));

}
section.split.divider {
  position: relative;
}