section.banner.split {
  height: var(--screen-height);
}

.banner .content {
  display: flex;
  flex-flow: column;
  padding-top: calc(var(--block-pad) +var(--nav-height));
}

.banner .content h1 {
 flex-grow: 1;
}

.content p {
  padding-bottom: 1.5rem;
}

.content b {
  font-weight: 700;
}

section.principles {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.principles ul, .principles ol {
 font-family: var(--grotesk);
 font-weight: 500;
 font-size: 2rem;
 margin: 0.75rem 0 var(--block-pad);
}

.principles ol li:first-of-type, .principles ul li:first-of-type {
  border-top: 2px solid black;
}

.principles ol li, .principles ul li {
  border-bottom: 2px solid black;
  padding: 0.5rem var(--block-pad);
}

h4 {  
  margin-left: var(--block-pad);
}

.color-blocks {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
  padding-top: 5rem;
}

.color-blocks li {
  display: flex;
  flex-flow: column;
}

.color-blocks p {
  border-bottom: 2px solid var(--moss); 
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
}
h1.large {
  padding-bottom: 1rem;
}
h1:not(.large) {
  padding: 1rem 2rem 1rem 0;
}

.inline-arrow {
  width: 120px;
  height: auto;
  display: inline;
  object-fit: contain;
}


