.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1px;
  height: var(--screen-height);
}

.banner .banner-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.centered-logo {
  position: absolute;
  width: 30%;
}

.statement h2 {
  font-weight: 400;
}

section.split.divider .content, 
section.split.divider .image {
  padding-top: 0;
}

section.split.divider .content {
  padding-right: 8rem;
  position: sticky;
  top: var(--nav-height);
}

section.split.divider .content.wide { 
  padding-right: 2rem
}

section.divider.split {
  position: relative; 
  padding: 8rem 0 2rem;
  height: 100vh;
}

section.split.divider .content h6 {
  padding-bottom: 0.5rem;
}

section.split .content a {
  font-size: 1.2rem;
  font-weight: 400;
}

hr {
  border: 1px solid var(--moss);
  margin: 1.5rem 0;
}

.statement .tatreez-icon {
  top: 75%;
  right: 20%;
  width: 40px;
}

section .press {
  display: flex;
  flex-flow: column;
}

.press ul {
  flex-grow: 1;
}
.press a {
  color: white;
}
.contact h1 {
  padding-top: 1.2rem;
}

