section.split {
  padding-bottom: var(--block-pad);
}

section img {
  height: auto;
  width: 80%;
}

section.split .content {
  padding-top: 1rem;
}

h1 {
  margin: 1rem 0 1.5rem;
}

.main {
  margin-top: var(--nav-height);
  background: center / 100% no-repeat url("/assets/icons/pixels_3.svg"), var(--ivory);
}

.sticky {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .main {
    background: right / 1200px no-repeat url("/assets/icons/pixels_3.svg"), var(--ivory);
  }
}