.main {
  margin-top: var(--nav-height);
}
.main .ivory {
  display: flex;
  align-items: center;
  min-height: 60vh;
}

.press.content h1 {
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 700px){
  section img {
    width: 110%;
  }
}