
section.banner.split {
  height: var(--screen-height);
}

.banner .content {
  display: flex;
  flex-flow: column;
  padding-top: calc(var(--block-pad) +var(--nav-height));
}

.banner .content h1 {
 flex-grow: 1;
}

section.split .ivory.content ul p  {
  padding-bottom: 1.5rem;
}

.content b {
  font-weight: 700;
}

section.events {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

section.events h3.header {
  padding-left: var(--block-pad);
}

.events ul {
 font-family: var(--grotesk);
 font-weight: 500;
 font-size: 2rem;
 margin: 0.75rem 0 var(--block-pad);
}

.events ul li:first-of-type, .events ul.upcoming li:nth-of-type(2) {
  border-top: 2px solid black;
}

.events ul li {
  border-bottom: 2px solid black;
  display: flex;
}

.events ul li > div {
  width: inherit;
}

/* UPCOMING */
.events ul.upcoming {
  display: flex;
}

.events ul.upcoming li {
  width: 50%;
  margin: 0.5rem;
}

.events li .image {
  max-width: 300px;
}

.events li img {
  padding: 1rem;
}

.events ul.upcoming h6 {
  padding: 1rem 0;
}

.events h2 {
  padding: 1rem 0;
}

.events li .copy {
  padding: 0 1rem;
  display: flex;
  flex-flow: column;
}

.events li .copy a {
  align-self: baseline;
}

.events .details {
  padding-bottom: 1rem;
}

/* PAST */

.events ul.past li a {
  display: flex;
  align-items: center;
  width: 100%;
}

.events ul.past li a h2 {
  padding: 1rem var(--block-pad);
  flex-grow: 1;
}

.events ul.past p {
  padding: 0 var(--block-pad);
}

h4 {  
  margin-left: var(--block-pad);
}

.sticky.arrow {
  padding-top: 2rem;
  display: flex;
  align-content: center;
}
.sticky.arrow h3 {
  padding-bottom: 0.2rem !important;
}
.color-blocks {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.color-blocks li {
  display: flex;
  flex-flow: column;
  border-bottom: 2px solid var(--moss); 
  padding-top: var(--block-pad);
}

h1.large {
  padding-bottom: 1rem;
}
h1:not(.large) {
  padding: 1rem 2rem 1rem 0;
}

.inline-arrow {
  width: 120px;
  height: auto;
  display: inline;
  object-fit: contain;
  padding-left: 2rem;
}

